@theme {
	/* ============================================================= */
	/* PRIMITIVE COLORS  */
	/* ============================================================= */

	--color-static-black: #000000;
	--color-static-white: #ffffff;

	--color-neutral-gray-50: #f6f6f6;
	--color-neutral-gray-100: #f4f4f4;
	--color-neutral-gray-200: #e8e8e8;
	--color-neutral-gray-300: #cbcbcb;
	--color-neutral-gray-400: #999999;
	--color-neutral-gray-500: #707070;
	--color-neutral-gray-600: #525252;
	--color-neutral-gray-700: #2d2d2d;
	--color-neutral-gray-800: #222222;
	--color-neutral-gray-900: #1a1a1a;

	--color-neutral-slate-50: #f3f6f9;
	--color-neutral-slate-100: #f0f4f7;
	--color-neutral-slate-200: #dde0e7;
	--color-neutral-slate-300: #c3c9d2;
	--color-neutral-slate-400: #8e96a4;
	--color-neutral-slate-500: #656c78;
	--color-neutral-slate-600: #484e5b;
	--color-neutral-slate-700: #262b33;
	--color-neutral-slate-800: #1f222a;
	--color-neutral-slate-900: #171a21;
	--color-neutral-slate-950: #101319;
	--color-neutral-gray-950: #171717;

	--color-blue-50: #e8efff;
	--color-blue-100: #cedffe;
	--color-blue-200: #b7d0fe;
	--color-blue-300: #8ab4fd;
	--color-blue-400: #588efc;
	--color-blue-500: #1a5afc;
	--color-blue-600: #2156e2;
	--color-blue-700: #1145c7;
	--color-blue-800: #1139a1;
	--color-blue-900: #0e2e7e;
	--color-blue-950: #0d235c;

	--color-orange-50: #fff1e8;
	--color-orange-100: #ffe2d0;
	--color-orange-200: #ffd3b9;
	--color-orange-300: #ffb88e;
	--color-orange-400: #ff9960;
	--color-orange-500: #f86721;
	--color-orange-600: #dc5b1c;
	--color-orange-700: #c6531a;
	--color-orange-800: #ad4917;
	--color-orange-900: #8b3b14;
	--color-orange-950: #652d10;

	--color-red-50: #ffe8e9;
	--color-red-100: #fed0d3;
	--color-red-200: #feb8be;
	--color-red-300: #fd8d96;
	--color-red-400: #fd5f6a;
	--color-red-500: #f83341;
	--color-red-600: #e4313d;
	--color-red-700: #c8242e;
	--color-red-800: #a21e27;
	--color-red-900: #7f1920;
	--color-red-950: #5c1419;

	--color-green-50: #ddf9e9;
	--color-green-100: #cbfae6;
	--color-green-200: #bcf3d6;
	--color-green-300: #7ee6ad;
	--color-green-400: #43d981;
	--color-green-500: #2cb763;
	--color-green-600: #28a459;
	--color-green-700: #207f47;
	--color-green-800: #1f693d;
	--color-green-900: #1b5835;
	--color-green-950: #123d24;

	--color-yellow-50: #fff9e8;
	--color-yellow-100: #ffecc6;
	--color-yellow-200: #ffe8ba;
	--color-yellow-300: #ffda8f;
	--color-yellow-400: #ffca63;
	--color-yellow-500: #f5aa29;
	--color-yellow-600: #e39c25;
	--color-yellow-700: #c28e2e;
	--color-yellow-800: #9e7327;
	--color-yellow-900: #7b5a1f;
	--color-yellow-950: #58421a;

	--color-purple-50: #ece9fe;
	--color-purple-100: #d6d1fe;
	--color-purple-200: #c1bafd;
	--color-purple-300: #9a90fc;
	--color-purple-400: #7b6cf2;
	--color-purple-500: #6b51ef;
	--color-purple-600: #5740d8;
	--color-purple-700: #4a31bf;
	--color-purple-800: #3e299b;
	--color-purple-900: #322179;
	--color-purple-950: #2b1e68;

	--color-sky-50: #e8f7ff;
	--color-sky-100: #cfeffe;
	--color-sky-200: #b8e7fe;
	--color-sky-300: #8cd8fe;
	--color-sky-400: #5cc8fd;
	--color-sky-500: #3cbcfd;
	--color-sky-600: #2ca5e4;
	--color-sky-700: #1e8ec8;
	--color-sky-800: #1a74a2;
	--color-sky-900: #165b7f;
	--color-sky-950: #12435c;

	--color-pink-50: #fee8f2;
	--color-pink-100: #fed0e6;
	--color-pink-200: #fdb9da;
	--color-pink-300: #fd8fc3;
	--color-pink-400: #fc61a9;
	--color-pink-500: #f74798;
	--color-pink-600: #e33483;
	--color-pink-700: #c7276e;
	--color-pink-800: #a1215a;
	--color-pink-900: #7e1b48;
	--color-pink-950: #5c1535;
	--color-teal-50: #e1faf7;

	--color-teal-100: #cbfaf4;
	--color-teal-200: #bcf3eb;
	--color-teal-300: #7ce7d8;
	--color-teal-400: #3fd8c2;
	--color-teal-500: #2bccb3;
	--color-teal-600: #24a592;
	--color-teal-700: #1d8072;
	--color-teal-800: #1d695e;
	--color-teal-900: #195950;
	--color-teal-950: #103d36;

	--color-olive-800: #414d27;
	--color-olive-600: #687c34;
	--color-olive-900: #394324;
	--color-olive-500: #869d45;
	--color-olive-300: #bdcd89;
	--color-olive-950: #1d2310;
	--color-olive-200: #d8e1b5;
	--color-olive-700: #50602b;
	--color-olive-100: #ebefd8;
	--color-olive-400: #abbe6f;
	--color-olive-50: #f7f8ed;

	/* ============================================================= */
	/* TOKEN COLORS  */
	/* ============================================================= */

	--color-text-primary: var(--color-neutral-gray-900);
	--color-text-secondary: var(--color-neutral-gray-700);
	--color-text-tertiary: var(--color-neutral-gray-600);
	--color-text-quaternary: var(--color-neutral-gray-500);
	--color-text-white: var(--color-static-white);
	--color-text-disable: var(--color-neutral-gray-500);
	--color-text-placeholder: var(--color-neutral-gray-500);
	--color-text-primary-onbrand: var(--color-static-white);
	--color-text-secondary-onbrand: var(--color-pink-200);
	--color-text-secondary-hover: var(--color-neutral-gray-800);
	--color-text-tertiary-hover: var(--color-neutral-gray-700);
	--color-text-tertiary-onbrand: var(--color-pink-200);
	--color-text-quaternary-onbrand: var(--color-pink-300);
	--color-text-placeholder-subtle: var(--color-neutral-gray-300);
	--color-text-error: var(--color-red-600);
	--color-text-warning: var(--color-orange-600);
	--color-text-success: var(--color-green-600);
	--color-text-brand-primary: var(--color-pink-900);
	--color-text-brand-teriary: var(--color-pink-600);
	--color-text-brand-secondary: var(--color-pink-700);
	--color-text-brand-secondaryhover: var(--color-pink-800);
	--color-text-brand-teriaryalt: var(--color-pink-600);

	--color-border-primary: var(--color-neutral-gray-300);
	--color-border-secondary: var(--color-neutral-gray-200);
	--color-border-tertiary: var(--color-neutral-gray-100);
	--color-border-disabled: var(--color-neutral-gray-300);
	--color-border-brand: var(--color-pink-500);
	--color-border-error: var(--color-red-500);
	--color-border-error-subtle: var(--color-red-300);
	--color-border-disabled-subtle: var(--color-neutral-gray-200);
	--color-border-brand-alt: var(--color-pink-600);
	--color-border-secondary-alt: rgba(0, 0, 0, 0.08);

	--color-foreground-primary: var(--color-neutral-gray-900);
	--color-foreground-secondary: var(--color-neutral-gray-700);
	--color-foreground-secondary-hover: var(--color-neutral-gray-800);
	--color-foreground-tertiary: var(--color-neutral-gray-600);
	--color-foreground-tertiary-hover: var(--color-neutral-gray-700);
	--color-foreground-quaternary: var(--color-neutral-gray-400);
	--color-foreground-quaternary-hover: var(--color-neutral-gray-500);
	--color-foreground-white: var(--color-static-white);
	--color-foreground-disabled: var(--color-neutral-gray-400);
	--color-foreground-disabled-subtle: var(--color-neutral-gray-300);
	--color-foreground-brand-primary: var(--color-pink-600);
	--color-foreground-brand-primaryalt: var(--color-pink-600);
	--color-foreground-brand-secondary: var(--color-pink-500);
	--color-foreground-brand-secondaryalt: var(--color-pink-500);
	--color-foreground-error-primary: var(--color-red-600);
	--color-foreground-error-secondary: var(--color-red-500);
	--color-foreground-warning-primary: var(--color-orange-600);
	--color-foreground-warning-secondary: var(--color-orange-500);
	--color-foreground-success-primary: var(--color-green-600);
	--color-foreground-success-secondary: var(--color-green-500);

	--color-background-primary: var(--color-static-white);
	--color-background-secondary: var(--color-neutral-gray-50);
	--color-background-secondary-hover: var(--color-neutral-gray-100);
	--color-background-tertiary: var(--color-neutral-gray-100);
	--color-background-quaternary: var(--color-neutral-gray-200);
	--color-background-active: var(--color-neutral-gray-50);
	--color-background-disabled: var(--color-neutral-gray-100);
	--color-background-disabled-subtle: var(--color-neutral-gray-50);
	--color-background-brand-primary: var(--color-pink-50);
	--color-background-brand-primaryalt: var(--color-pink-50);
	--color-background-brand-secondary: var(--color-pink-100);
	--color-background-brand-solid: var(--color-pink-600);
	--color-background-error-primary: var(--color-red-50);
	--color-background-error-secondary: var(--color-red-100);
	--color-background-warning-primary: var(--color-orange-50);
	--color-background-warning-secondary: var(--color-orange-100);
	--color-background-success-primary: var(--color-green-50);
	--color-background-success-secondary: var(--color-green-100);
	--color-background-primary-alt: var(--color-static-white);
	--color-background-primary-hover: var(--color-neutral-gray-50);
	--color-background-primary-solid: var(--color-neutral-gray-950);
	--color-background-secondary-alt: var(--color-neutral-gray-50);
	--color-background-secondary-subtle: var(--color-static-white);
	--color-background-secondary-solid: var(--color-neutral-gray-600);
	--color-background-overlay: var(--color-neutral-gray-950);
	--color-background-brand-solid-hover: var(--color-pink-700);
	--color-background-brand-solid-section: var(--color-pink-800);
	--color-background-brand-solid-section-subtle: var(--color-pink-700);
	--color-background-error-solid: var(--color-red-600);
	--color-background-error-solid-hover: var(--color-red-700);
	--color-background-warning-solid: var(--color-orange-600);
	--color-background-success-solid: var(--color-green-600);

	/* ============================================================= */
	/* PROPERTY COLORS  */
	/* ============================================================= */

	--text-color-primary: var(--color-text-primary);
	--text-color-secondary: var(--color-text-secondary);
	--text-color-tertiary: var(--color-text-tertiary);
	--text-color-quaternary: var(--color-text-quaternary);
	--text-color-white: var(--color-text-white);
	--text-color-disable: var(--color-text-disable);
	--text-color-placeholder: var(--color-text-placeholder);
	--text-color-primary-onbrand: var(--color-text-primary-onbrand);
	--text-color-secondary-onbrand: var(--color-text-secondary-onbrand);
	--text-color-secondary-hover: var(--color-text-secondary-hover);
	--text-color-tertiary-hover: var(--color-text-tertiary-hover);
	--text-color-tertiary-onbrand: var(--color-text-tertiary-onbrand);
	--text-color-quaternary-onbrand: var(--color-text-quaternary-onbrand);
	--text-color-placeholder-subtle: var(--color-text-placeholder-subtle);
	--text-color-error: var(--color-text-error);
	--text-color-warning: var(--color-text-warning);
	--text-color-success: var(--color-text-success);
	--text-color-brand-primary: var(--color-text-brand-primary);
	--text-color-brand-teriary: var(--color-text-brand-teriary);
	--text-color-brand-secondary: var(--color-text-brand-secondary);
	--text-color-brand-secondary-hover: var(--color-text-brand-secondary-hover);
	--text-color-brand-teriary-alt: var(--color-text-brand-teriary-alt);

	--border-color-primary: var(--color-border-primary);
	--border-color-secondary: var(--color-border-secondary);
	--border-color-tertiary: var(--color-border-tertiary);
	--border-color-disabled: var(--color-border-disabled);
	--border-color-brand: var(--color-border-brand);
	--border-color-error: var(--color-border-error);
	--border-color-error-subtle: var(--color-border-error-subtle);
	--border-color-disabled-subtle: var(--color-border-disabled-subtle);
	--border-color-brand-alt: var(--color-border-brand-alt);
	--border-color-secondary-alt: var(--color-border-secondary-alt);

	--background-color-primary: var(--color-background-primary);
	--background-color-secondary: var(--color-background-secondary);
	--background-color-secondary-hover: var(--color-background-secondary-hover);
	--background-color-tertiary: var(--color-background-tertiary);
	--background-color-quaternary: var(--color-background-quaternary);
	--background-color-active: var(--color-background-active);
	--background-color-disabled: var(--color-background-disabled);
	--background-color-disabled-subtle: var(--color-background-disabled-subtle);
	--background-color-brand-primary: var(--color-background-brand-primary);
	--background-color-brand-primaryalt: var(--color-background-brand-primaryalt);
	--background-color-brand-secondary: var(--color-background-brand-secondary);
	--background-color-brand-solid: var(--color-background-brand-solid);
	--background-color-error-primary: var(--color-background-error-primary);
	--background-color-error-secondary: var(--color-background-error-secondary);
	--background-color-warning-primary: var(--color-background-warning-primary);
	--background-color-warning-secondary: var(
		--color-background-warning-secondary
	);
	--background-color-success-primary: var(--color-background-success-primary);
	--background-color-success-secondary: var(
		--color-background-success-secondary
	);
	--background-color-primary-alt: var(--color-background-primary-alt);
	--background-color-primary-hover: var(--color-background-primary-hover);
	--background-color-primary-solid: var(--color-background-primary-solid);
	--background-color-secondary-alt: var(--color-background-secondary-alt);
	--background-color-secondary-subtle: var(--color-background-secondary-subtle);
	--background-color-secondary-solid: var(--color-background-secondary-solid);
	--background-color-overlay: var(--color-background-overlay);
	--background-color-brand-solid-hover: var(
		--color-background-brand-solid-hover
	);
	--background-color-brand-solid-section: var(
		--color-background-brand-solid-section
	);
	--background-color-brand-solid-section-subtle: var(
		--color-background-brand-solid-section-subtle
	);
	--background-color-error-solid: var(--color-background-error-solid);
	--background-color-error-solid-hover: var(
		--color-background-error-solid-hover
	);
	--background-color-warning-solid: var(--color-background-warning-solid);
	--background-color-success-solid: var(--color-background-success-solid);

	/* ============================================================= */
	/* DEPRECATE COLORS [TODO: REMOVE AFTER REFACTORING ALL COMPONENTS] */
	/* ============================================================= */

	/* Primary [Token Color] */
	--color-primary-alpha-10: color-mix(
		in srgb,
		transparent,
		var(--color-blue-500) 10%
	);
	--color-primary-alpha-16: color-mix(
		in srgb,
		transparent,
		var(--color-blue-700) 16%
	);
	--color-primary-base: var(--color-blue-500);
	--color-primary-dark: var(--color-blue-700);
	--color-primary-darker: var(--color-blue-900);

	/* Faded [Token Color] */
	--color-faded-lighter: var(--color-grey-100);
	--color-faded-light: var(--color-grey-200);
	--color-faded-base: var(--color-grey-500);
	--color-faded-dark: var(--color-grey-800);

	/* Information [Token Color] */
	--color-information-lighter: var(--color-blue-50);
	--color-information-light: var(--color-blue-200);
	--color-information-base: var(--color-blue-500);
	--color-information-dark: var(--color-blue-950);

	/* Warning [Token Color] */
	--color-warning-lighter: var(--color-orange-50);
	--color-warning-light: var(--color-orange-200);
	--color-warning-base: var(--color-orange-500);
	--color-warning-dark: var(--color-orange-950);

	/* Error [Token Color] */
	--color-error-lighter: var(--color-red-50);
	--color-error-light: var(--color-red-200);
	--color-error-base: var(--color-red-500);
	--color-error-dark: var(--color-red-950);

	/* Success [Token Color] */
	--color-success-lighter: var(--color-green-50);
	--color-success-light: var(--color-green-200);
	--color-success-base: var(--color-green-500);
	--color-success-dark: var(--color-green-950);

	/* Away [Token Color] */
	--color-away-lighter: var(--color-yellow-50);
	--color-away-light: var(--color-yellow-200);
	--color-away-base: var(--color-yellow-500);
	--color-away-dark: var(--color-yellow-950);

	/* Feature [Token Color] */
	--color-feature-lighter: var(--color-purple-50);
	--color-feature-light: var(--color-purple-200);
	--color-feature-base: var(--color-purple-500);
	--color-feature-dark: var(--color-purple-950);

	/* Verified [Token Color] */
	--color-verified-lighter: var(--color-sky-50);
	--color-verified-light: var(--color-sky-200);
	--color-verified-base: var(--color-sky-500);
	--color-verified-dark: var(--color-sky-950);

	/* Highlighted [Token Color] */
	--color-highlighted-lighter: var(--color-pink-50);
	--color-highlighted-light: var(--color-pink-200);
	--color-highlighted-base: var(--color-pink-500);
	--color-highlighted-dark: var(--color-pink-950);

	/* Stable [Token Color] */
	--color-stable-lighter: var(--color-teal-50);
	--color-stable-light: var(--color-teal-200);
	--color-stable-base: var(--color-teal-500);
	--color-stable-dark: var(--color-teal-950);

	/* ============================================================= */
	/* RADIUS
    /* ============================================================= */

	--radius-none: 0rem;
	--radius-xs: 0.25rem;
	--radius-sm: 0.125rem;
	--radius-DEFAULT: 0.25rem;
	--radius-md: 0.375rem;
	--radius-lg: 0.5rem;
	--radius-xl: 0.75rem;
	--radius-2xl: 1rem;
	--radius-3xl: 1.5rem;
	--radius-full: 999rem;
}
