@import "tailwindcss";
@import "../styles/colors-primitive.css";
@import "../styles/colors-tokens.css";
@import "../styles/colors-utility.css";
@import "../styles/size.css";
@import "../styles/tokens.css";